.container-0 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 5px;
}

.container-1 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-align: center;
}

.box-1 {
  flex-basis: 50%;
}

.box-2 {
  flex-basis: 50%;
}

.container-2 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  flex-wrap: wrap;
}

.box-3 {
  flex-basis: 50%;
}

.box-4 {
  flex-basis: 50%;
}

img {
  border-radius: 50%;
}
