.login-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 100vh;
}

.login-form {
  border: 2px solid;
  padding: 20px;
  min-width: 50%;
  min-height: 20rem;

  flex-basis: 50%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.image-box{
  flex-basis: 50%;
}

.nav-buttons {
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.login-form input {
  flex-basis: 50%;
  min-height: 2rem;
}

.login-form label {
  flex-basis: 50%;
  /* padding-top: 1rem;
  padding-bottom: 0.2rem; */
}

.login-form a {
  flex-basis: 100%;
  text-align: center;
}

.btn {
  min-width: 30%;
  min-height: 2rem;
  margin: 20px;
  padding-top: 0.5 rem;
}
