.login-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 100vh;
}

.login-form {
  border: 2px solid;
  padding: 20px;
  min-width: 50%;
  min-height: 20rem;

  flex-basis: 50%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.login-form input {
  flex-basis: 50%;
  min-height: 2rem;
}

.login-form label {
  padding-top: 1rem;
  padding-bottom: 0.2rem;
}

.radio-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  min-width: 30%;
  min-height: 2rem;
  margin: 20px;
  padding-bottom: 0.5 rem;
}

.choosable {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-basis: 100%;
}

.choosable label {
  flex-basis: 50%;
}

.radio-buttons {
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
