.flex-container {
    display: flex;
    background-color: DodgerBlue;
    align-items: center;
}

.flex-container > div {
    background-color: Dodgerblue;
    margin: 5px;
    padding: 10px;
    font-size: 20px;
}

/* Vertical Menu */
.vertical-menu {
    width: 200px;
  }
  
  .vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
  }
  
  .vertical-menu a:hover {
    background-color: #ccc;
  }
  
  .vertical-menu a.active {
    background-color: #04AA6D;
    color: white;
  }
